@import url("file:///home/melo/.cache/wal/colors-waybar.css");

* {
    font-family: Agave;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @color-10;
}

#workspaces button {
    background-color: transparent;
    color: #666666;
    padding: 3px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#workspaces button.urgent {
    background-color: #d65888;
}

#workspaces button.hosting-monitor {
    color: #ffffff;
}

#workspaces button.visible {
    background-color: rgba(0, 0, 0, 0.1);
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px @color9;
}

#workspaces button.active.hosting-monitor {
    color: @color9;
}
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#window
#workspaces {
    margin: 0 0px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > * > .module {
    padding: 1px 10px 1px 10px;
    margin: 0px 8px 0px 8px;
    border-radius: 15px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-media {
    background-color: alpha(@background, 0.75);
    color: @color5;
}

#pulseaudio {
    background-color: alpha(@background, 0.75);
    color: @color1;
}

#pulseaudio:hover {
    background-color: alpha(@background, 0.75);
}

#clock {
    background-color: alpha(@background, 0.75);
    color: @color3;
}

#network.vpn {
    background-color: alpha(@background, 0.75);
    color: @color4;
}

