window {{
    font-family: Agave, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    border: 1px solid {color12};
    background-color: {background};
}}

#input {{
    margin: 5px;
    border: none;
    color: {color9};
    background-color: {background};
}}

#input:focus {{
    box-shadow: none;
    border: 1px solid {color14};
}}

#inner-box {{
    margin: 5px;
    border: none;
    background-color: {background};
}}

#outer-box {{
    margin: 5px;
    border: none;
    background-color: {background};
}}

#scroll {{
    margin: 0px;
    border: none;
}}

#text {{
    margin: 5px;
    border: none;
    color: {color10};
}}

#entry:selected {{
    background-color: {background};
    color: {color11};
}}